@model InstituteMVC.Model.Section

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Section</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.classNameCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classNameCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timeing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timeing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReady)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReady)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
