@model InstituteMVC.Model.Section

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Section</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.classId)

        @Html.HiddenFor(model => model.SDate)

        <div class="form-group">
            @Html.LabelFor(model => model.classNameCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.classNameCode)
                @Html.ValidationMessageFor(model => model.classNameCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Timeing, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Timeing)
                @Html.ValidationMessageFor(model => model.Timeing)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fee)
                @Html.ValidationMessageFor(model => model.Fee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsReady, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsReady)
                @Html.ValidationMessageFor(model => model.IsReady)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Issent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Issent)
                @Html.ValidationMessageFor(model => model.Issent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.isActive)
                @Html.ValidationMessageFor(model => model.isActive)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
