@model IEnumerable<InstituteMVC.Model.Section>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.classNameCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timeing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDate)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.classNameCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timeing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.classId,SDate = item.SDate }) |
            @Html.ActionLink("Details", "Details", new { id = item.classId, SDate = item.SDate }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.classId, SDate = item.SDate })
        </td>
    </tr>
}

</table>
