@model InstituteMVC.Model.Student

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CR)

        @Html.HiddenFor(model => model.SDate)

        <div class="form-group">
            @Html.LabelFor(model => model.bioID, "bioID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("bioID", String.Empty)
                @Html.ValidationMessageFor(model => model.bioID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClassID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClassID)
                @Html.ValidationMessageFor(model => model.ClassID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InnerRollNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InnerRollNo)
                @Html.ValidationMessageFor(model => model.InnerRollNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FeeStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FeeStatus)
                @Html.ValidationMessageFor(model => model.FeeStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttStatus)
                @Html.ValidationMessageFor(model => model.AttStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnrolDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnrolDate)
                @Html.ValidationMessageFor(model => model.EnrolDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OnLeave, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OnLeave)
                @Html.ValidationMessageFor(model => model.OnLeave)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
